﻿
<div class="mb-3">
    <h1>INICIAR SESIÓN</h1>
</div>
<div class="container form-group justify-content-center">
    <form action="" method="post">
        <div class="mb-3">
            <div>
                <label for="exampleInputEmail1" class="form-label">Usuario</label>
            </div>
            <div>
                <input type="text" name="username">
            </div>
        </div>
        <div class="mb-3">
            <div>
                <label for="exampleInputPassword1" class="">Password</label>
            </div>
            <div>
                <input type="password" name="password">
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </div>
    </form>
</div>