﻿<div class="mb-3">
    <h1>REGISTRAR USUARIO</h1>
</div>
<div class="container form-group justify-content-center">
    <form action="/auth/register" method="post">
        <div class="mb-3">
            <div>
                <label for="exampleInputEmail1" class="form-label">Usuario</label>
            </div>
            <div>
                <input type="text" name="Usuario">
            </div>
        </div>
        <div class="mb-3">
            <div>
                <label for="exampleInputPassword1" class="">Password</label>
            </div>
            <div>
                <input type="password" name="Contraseña">
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </div>
    </form>
</div>
