﻿
<link href="~/css/style.css" rel="stylesheet" />

<body>
    <h1 class="text-light">@Model.Tipo: @Model.Nombre</h1>
    @foreach (var item in ViewBag.Ejercicios)
    {
        <div class="container carta" style="width: 17rem;">
            <div class="card-group mt-3">
                <div class="card border-info">
                    <div class="card-body">
                        <h5 class="card-title">@item.Ejercicios.NombreEje</h5>
                        <iframe class="card-img-top" width="693" height="200" src="@item.Ejercicios.VideoYT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <h5 class="card-title">Tiempo: @item.Tiempo'</h5>
                    </div>
                </div>
            </div>
        </div>
    }
</body>