﻿

<link href="~/css/style.css" rel="stylesheet" />
<body>
    @if (User.Identity.IsAuthenticated)
    {
    <div>
        <a href="/rutina/create" class="btn btn-primary mb-3">Crear Rutina</a>
        <h1 class="text-light">Mis Rutinas</h1>
        @foreach (var item in ViewBag.Rutina)
        {
            <div class="container carta" style="width: 17rem;">
                <div class="card-group mt-3">
                    <div class="card border-info">
                        <div class="card-body">
                            <h5 class="card-title">@item.Nombre</h5>
                            <p class="card-text">@item.Tipo</p>
                            <a href="/home/detalle?id=@item.Id" class="btn btn-primary">Ver Detalle</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    }
    else
    {
        <h1>Logueate primero</h1>
        <a href="/Auth/login">Login</a>
    }
</body>

