﻿body {
    background-image: url("https://www.xtrafondos.com/wallpapers/natalie-dormer-en-gimnasio-2457.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.carta {
    display: inline-block;
    align-content: center;
}