﻿<div class="mb-3">
    <h1>CREAR RUTINA</h1>
</div>
<div class="container form-group justify-content-center">
    <form action="/rutina/create" method="post">
        <div class="mb-3">
            <div>
                <label class="form-label">Nombre Rutina</label>
            </div>
            <div>
                <input class="form-control" type="text" name="Nombre">
            </div>
        </div>
        <div class="mb-3">
            <div>
                <label class="">Tipo Rutina</label>
            </div>
            <div>
                <select name="Tipo" class="form-control">
                    <option value="Principiante">Principiante</option>
                    <option value="Intermedio">Intermedio</option>
                    <option value="Avanzado">Avanzado</option>
                </select>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Crear</button>
        </div>
    </form>
</div>